- name: Generate Snake
  uses: Platane/snk@v3
  with:
    github_user_name: Adityashrivastava17
    outputs: |
      dist/github-contribution-grid-snake.svg
      dist/github-contribution-grid-snake-dark.svg
    color_snake: "#00ffff"
    color_dots: "#1f2937,#111827,#0f172a,#020617,#000000"


      - name: Push Snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
